# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
/db.sqlite3

# If using environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# If using JetBrains/PyCharm
.idea/

# If using VS Code
.vscode/
